/* tablet-header */
.tablet-header {
  width: 100%;
  height: 70px;
  background: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

/* tablet-logo */
.tablet-logo {
  float: left;
}
.tablet-logo img {
  width: 45px;
  height: 45px;
  margin-top: 13px;
  margin-left: 10px;
}

/* tablet-nav */
.tablet-nav {
  float: right;
}
.tablet-nav ul {
  height: 70px;
  display: flex;
  align-items: center;
}
.tablet-nav ul li {
  padding: 0 15px;
}
.tablet-nav ul li:first-of-type a img {
  width: 25px;
  height: 30px;
}
.tablet-nav ul li:nth-of-type(2) a img {
  width: 25px;
  height: 30px;
}
.tablet-nav ul li:last-of-type a img {
  width: 27px;
  height: 25px;
}

/* tablet-welcome */
.tablet-welcome {
  background: url(tablet-images/2023_m_newyear_top_bg.jpg) center top no-repeat;
  background-size: cover;
  width: auto;
  height: 264vw;
  margin-top: 70px;
  position: relative;
  display: none;
}

/* tablet-slogan */
.tablet-welcome .tablet-slogan {
  position: fixed;
  top: 15%;
  right: 5%;
  max-width: 25%;
  z-index: 10;
}
.tablet-welcome .tablet-slogan img {
  max-width: 100%;
}

/* wel-logo */
.tablet-welcome .wel-logo {
  position: absolute;
  max-width: 45%;
  top: 7%;
  left: 18%;
}
.tablet-welcome .wel-logo img {
  max-width: 100%;
}

/* tablet-drink */
.tablet-welcome .tablet-drink {
  height: 100%;
}
.tablet-welcome .tablet-drink .drink01 {
  position: absolute;
  top: 20.5%;
  left: 14.5%;
  width: 69%;
}
.tablet-welcome .tablet-drink .drink02 {
  position: absolute;
  top: 49.5%;
  left: 20.3%;
  width: 70.3%;
}
.tablet-welcome .tablet-drink .drink03 {
  position: absolute;
  top: 69.2%;
  left: 11%;
  width: 73%;
}
.tablet-welcome .tablet-drink div img {
  width: 100%;
}

/* wel-btn */
.tablet-welcome .wel-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.tablet-welcome .wel-btn a {
  display: block;
  width: 250px;
  padding: 20px 35px;
  color: #046241;
  border: 2px solid #046241;
  font-size: 22px;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  transition: 0.5s;
}
.tablet-welcome .wel-btn a:hover {
  background: #046241;
  color: #fff;
  text-decoration: underline;
}

/* tablet-line-notice */
.tablet-line-notice {
  background: #000;
  width: 100%;
  height: 80px;
  display: none;
}

/* tablet-notice-left */
.tablet-line-items .tablet-notice-left {
  width: 50%;
  height: 80px;
  background: #000;
  float: left;
}
.tablet-line-items .tablet-notice-left > img {
  float: left;
  margin: 30px 10px;
}
.tablet-notice-left > a img {
  width: 30px;
  height: 30px;
  float: right;
  margin: 25px 20px;
}

/* tablet-notice */
.tablet-notice-left .tablet-notice {
  height: 80px;
  background: black;
  overflow: hidden;
  float: left;
}
.tablet-notice .tablet-rolling {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 20px;
}
.tablet-notice .tablet-rolling li {
  width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  height: 80px;
  line-height: 80px;
}
.tablet-notice .tablet-rolling li a {
  color: #fff;
  font-size: 14px;
}

/* tablet-notice-right */
.tablet-notice-right {
  width: 50%;
  height: 80px;
  background: #f6f5ef;
  float: right;
  position: relative;
}
.tablet-notice-right img:first-child {
  width: 130px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%,-50%);
}
.tablet-notice-right img:last-child {
  width: 30px;
  height: 30px;
  float: right;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(-20%,-50%);
}

/* tablet-reward */
.tablet-reward {
  width: 100%;
  background: #1e3932;
  padding: 40px 0;
  overflow: hidden;
  display: none;
}

/* tablet-reward-left */
.tablet-reward-left {
  margin: 30px 30px 0 100px;
  float: left;
}

/* tablet-reward-right */
.tablet-reward-right {
  width: 400px;
  float: right;
  margin-right: 70px;
}

/* tablet-top-info */
.tablet-top-info {
  border-bottom: 1px solid #4b615b;
}
.tablet-top-info h2 {
  color: #fff;
  padding-bottom: 15px;
}
.tablet-top-info .tablet-top-info-text {
  padding-bottom: 20px;
}
.tablet-top-info-text p {
  color: #fff;
}

/* tablet-sign-btn */
.tablet-sign-btn span {
  display: inline-block;
  margin-bottom: 20px;
}
.tablet-sign-btn span:first-child {
  background: #00704a;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
}
.tablet-sign-btn span:last-child {
  border: 2px solid #fff;
  padding: 8px 20px;
  border-radius: 5px;
}
.tablet-sign-btn span a {
  color: #fff;
  font-size: 14px;
}

/* tablet-bottom-info */
.tablet-bottom-info {
  padding-top: 20px;
}
.tablet-bottom-info p {
  font-size: 14px;
  color: #fff;
  padding-bottom: 30px;
}
.tablet-bottom-info span a {
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.tablet-sign-btn span a:hover,
.tablet-bottom-info span a:hover {
  text-decoration: underline;
}

/* tablet-EL-SALVADOR */
.tablet-EL-SALVADOR {
  background: url(tablet-images/2023_m_newyear_promotion_bg_08.jpg) center center no-repeat;
  height: 150vw;
  background-size: cover;
  position: relative;
  display: none;
}
.tablet-EL-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* tablet-EL-top */
.tablet-EL-top {
  position: relative;
  left: 14%;
}
.tablet-EL-top img {
  width: 100%;
}

/* tablet-EL-bottom */
.tablet-EL-bottom img {
  width: 100%;
}
.tablet-EL-bottom a {
  display: block;
  color: #633510;
  border: 2px solid #633510;
  width: 250px;
  padding: 20px 35px;
  margin: 30px auto 0 auto;
  text-align: center;
  border-radius: 3px;
  font-size: 22px;
  font-weight: bold;
  transition: 0.5s;
}
.tablet-EL-bottom a:hover {
  background: #633510;
  color: #fff;
  text-decoration: underline;
}

/* tablet-ETHIOPIA */
.tablet-ETHIOPIA {
  width: 100%;
  height: 150vw;
  background: url(tablet-images/221220_m_reserve_bg.png) center center no-repeat;
  background-size: cover;
  position: relative;
  display: none;
}
.tablet-ETHIOPIA a {
  display: block;
  color: #966932;
  border: 2px solid #966932;
  width: 140px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.5s;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.tablet-ETHIOPIA a:hover {
  background: #966932;
  color: #fff;
  text-decoration: underline;
}

/* tablet-favorite */
.tablet-favorite {
  background: url(tablet-images/m_2022_Chrismas2_PTF_bg.jpg) center -6px no-repeat;
  width: 100%;
  height: 1130px;
  background-size: cover;
  position: relative;
  display: none;
}
.tablet-fav-content a {
  display: block;
  color: #fff;
  border: 2px solid #fff;
  width: 140px;
  padding: 8px 10px;
  margin-top: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.5s;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
}
.tablet-fav-content a:hover {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
}

/* tablet-fav-img */
.tablet-fav-img {
  max-width: 70%;
  margin: 0 auto;
}
.tablet-fav-img img {
  width: 100%;
  margin-top: 130px;
}

/* tablet-fav-txt */
.tablet-fav-txt img:first-child {
  max-width: 350px;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
}
.tablet-fav-txt img:last-child {
  max-width: 440px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translateX(-50%);
}

/* tablet-magazine */
.tablet-magazine {
  width: 100%;
  height: 180vw;
  background: url(tablet-images/reserve_visual_m.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  display: none;
}
.tablet-magazine a {
  display: block;
  color: #000;
  border: 2px solid #000;
  width: 140px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.5s;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
.tablet-magazine a:hover {
  background: #000;
  color: #fff;
  text-decoration: underline;
}

/* tablet-store */
.tablet-store {
  width: 100%;
  height: 750px;
  background: url(tablet-images/store_bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  display: none;
}

/* tablet-store-top */
.tablet-store-top {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.tablet-store-top img:first-child {
  max-width: 300px;
  max-height: 255px;
}
.tablet-store-top img:last-child {
  max-width: 200px;
  max-height: 200px;
}

/* tablet-store-bottom */
.tablet-store-bottom img:first-of-type {
  max-width: 440px;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
}
.tablet-store-bottom img:last-of-type {
  max-width: 440px;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}
.tablet-store-bottom a {
  display: block;
  color: #000;
  border: 2px solid #000;
  width: 120px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.5s;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}
.tablet-store-bottom a:hover {
  background: #000;
  color: #fff;
  text-decoration: underline;
}

/* tablet-footer */
.tablet-footer {
  width: 100%;
  overflow: auto;
  height: auto;
  background: #2C2A29;
  padding: 30px 0;
  display: none;
}

/* tablet-site-map */
.tablet-menu-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}
.tablet-menu-item {
  width: 33.3333%;
  margin-bottom: 20px;
}
.tablet-menu-item-title {
  font-size: 14px;
  color: #fff;
  display: block;
  padding-bottom: 10px;
}
.tablet-menu-item-content ul li a {
  font-size: 12px;
  color: #fff;
}
.tablet-menu-item-content ul li a:hover {
  text-decoration: underline;
}

/* tablet-top-btn */
.tablet-top-btn ul {
  margin: 25px auto 0 auto;
  text-align: center;
}
.tablet-top-btn ul li {
  padding: 0 10px;
  display: inline-block;
}
.tablet-top-btn ul li a {
  font-size: 24px;
  display: block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  width: 150px;
}
.tablet-top-btn ul li a:hover {
  text-decoration: underline;
}

/* tablet-awards */
.tablet-awards {
  margin-top: 25px;
  width: 100%;
  background: #282828;
}
.tablet-awards ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* tablet-policy */
.tablet-policy ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}
.tablet-policy ul li {
  padding: 0 10px;
  border-right: 1px solid rgba(153, 153, 153, 0.178);
}
.tablet-policy ul li:last-child {
  border: 0;
}
.tablet-policy ul li a {
  color: rgb(170, 170, 170);
  font-size: 12px;
}
.tablet-policy ul li:first-child a {
  color: #00b050;
}
.tablet-policy ul li a:hover {
  text-decoration: underline;
}

/* tablet-bottom-btn */
.tablet-bottom-btn ul {
  margin: 25px auto 0 auto;
  text-align: center;
}
.tablet-bottom-btn ul li {
  padding: 0 5px;
  display: inline-block;
}
.tablet-bottom-btn ul li a {
  font-size: 12px;
  display: block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  width: 110px;
}
.tablet-bottom-btn ul li a:hover {
  text-decoration: underline;
}

/* tablet-information */
.tablet-information ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}
.tablet-information ul li {
  font-size: 12px;
  color: #999;
  padding: 0 10px;
}

.tablet-footer p {
  font-size: 12px;
  color: #999;
  margin-top: 20px;
  text-align: center;
}